<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">WELCOME!</div>
                <div class="card-body">
                    <h5 class="card-title">Cataloger</h5>
                    <p class="card-text">
                        Welcome to the Canameano Item Catalogging Solution!
                        On this page you will find access to all the tools you need!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card border-primary mb-3">
                <div class="card-header">Item Catalog</div>
                <div class="card-body">
                    <h5 class="card-title">Item Catalog</h5>
                    <p class="card-text">
                        Enter the Item Catalogger
                    </p>
                     <a href="/item-catalog" type="button" class="btn btn-light btn"><i class="bi bi-box-arrow-right"></i> GO</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card border-primary mb-3">
                <div class="card-header">Software Catalog</div>
                <div class="card-body">
                    <h5 class="card-title">Software Catalog</h5>
                    <p class="card-text">
                        Enter the Software Catalogger
                    </p>
                    <a href="/software-catalog" type="button" class="btn btn-light btn"><i class="bi bi-box-arrow-right"></i> GO</a>
                </div>
            </div>
        </div>
    </div>
</div>